@import url('https://fonts.googleapis.com/css2?family=Anton&family=Imbue:opsz,wght@10..100,100;10..100,200;10..100,300;10..100,400;10..100,500;10..100,600;10..100,700;10..100,800;10..100,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --background-color-light: #fff; 
    --text-color-light: black; 
    --background-color-dark: transparent; 
    --text-color-dark: #fff;
    --input_background-color-light: gray;
    --button-background-light: #8C1657;
    --button-color-light: #f27405b1;
    --border-color-light: black;

    --Form-background-color-dark: #fff; 

    --Form-button-background-light: rgb(33, 33, 237); 
    --Form-button-color-light: #fff; 
    --Form-button-background-dark: #050506; 

    --Form-border2-color-light: black;
   
    
    --user-interface-background-color-light: var(--background-color-light);
    --user-interface-text-color-light: var(--text-color-light);
    --user-interface-background-color-dark: var(--background-color-dark);
    --user-interface-text-color-dark: var(--text-color-dark);
    --user-interface-input-background-color-light: var(--input_background-color-light);
    --user-interface-button-background-light: var(--button-background-light);
    --user-interface-button-color-light: var(--button-color-light);
}

.dark-mode {
    --background-color-light: transparent;
    --text-color-light: #fff;
    --background-color-dark: transparent; 
    --text-color-dark: #fff;
    --border-color-light: #27EE52;
    --Form-background-color-dark: #111215; 
    --Form-border2-color-light: rgba(255, 255, 255, .2); 
    
    --user-interface-background-color-light: var(--background-color-light);
    --user-interface-text-color-light: var(--text-color-light);
    --user-interface-background-color-dark: var(--background-color-dark);
    --user-interface-text-color-dark: var(--text-color-dark);
}

body {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

