#deleteBtn {
    background: rgba(221, 7, 7, 0.672);
    color: white;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.448);
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    width: 200px;
}

#deleteBtn:hover {
    font-weight: 700;
    background-color: red;
}

#addChapterLink {
    background: rgba(0, 0, 255, 0.579);
    color: white;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.448);
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    width: 200px;
    text-decoration: none;
    text-align: center;
}

#addChapterLink:hover {
    font-weight: 700;
    background-color: blue;
}

.chaptersList {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.chaptersList li a {
    text-decoration: none;
    color: white;
    font-size: 36px;
}

.chaptersList li a:hover {
    padding-left: 10px;
    font-style: italic;
    color: rgb(234, 233, 233);
}