#storyFormContainer {
   margin-top: 20px;
}

#storyFormWrapper {
    background-color: #111215;
    width: 80%;
    height: 850px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.481);
}

#storyFormWrapper form {
    margin: auto;
    width: 100%;
}

#storyFormWrapper form label  {
    font-family: 'Anton', sans-serif;
    font-size: 30px;

}


#storyFormWrapper form input,  #storyFormWrapper form textarea{
    background-color: #111215;
    border: 1px solid #111215;
    border-bottom: 4px solid #27EE52;
    color: white;
}

#storyFormWrapper form input::placeholder, #storyFormWrapper form textarea::placeholder {
    color: white;
    font-family: 'Anton', sans-serif;
}

#dataContainer {
    display: flex;
    align-self: center;
    justify-content: space-around;
}

#storyFormWrapper form .storyForm_submit_btn  {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    height: 45px;
    border-radius: 15px;
    color: #27EE52;
    background-color: #050506;
}

#storyFormWrapper form button:hover {
    background-color: #05050671;
}

p {
    color: white;
}

.tags-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 5px;
    align-items: center; 
    flex-direction: row;
  }
  
  .tagText {
    color: white;
    font-size: 20px;
  }
  
  .removeTagBtn {
    font-size: 15px;
        width: 20px;
        height: 20px;
        color: red;
        background-color: white;
  }

