#mainStoriesContainer {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#toggleColorBtn {
    background: transparent;
    color: white;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.448);
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
}

#toggleColorBtn:hover {
    padding-left: 20px;
}

#storyContainer {
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px black;
    border-radius: 15px;
}

#storyLink {
    text-decoration: none;
}


#storyLink:hover {
    text-decoration: none;
}

#storyContainer h1{
    font-family: 'Anton', sans-serif;
    color: white;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#storyContainer h1:hover {
    font-style: italic;
}

#storyContainer p{
    font-size: 20px;
    color: white;
    font-weight: 500;

}

  
#mainStoriesContainer.invertedColors {
    background-color: white;
}

#mainStoriesContainer h1 {
    color: white;
}

#mainStoriesContainer.invertedColors h1{
    color: black;
  }
  
  
  #mainStoriesContainer.invertedColors p{
    color: black;
  }
  