
.StoryForm_mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#storyFormWrapper {
  background-color: var(--Form-background-color-dark);
  width: 100%;
  height: 886px;
  padding: 30px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.481);
  margin: auto;
  overflow: hidden;
}
  
#storyForm-headers-titles {
  color: var(--text-color-light);
}

#storyFormTitles {
  color: var(--text-color-light);
  text-align: center;
  font-family: 'Anton', sans-serif;
}
  


#storyFormWrapper form {
  margin: auto;
  width: 100%;

}


#storyFormWrapper form input,  #storyFormWrapper form textarea{
  border: 1px solid #111215;
  width: 100%;
  border-bottom: 2px solid var(--border-color-light);
  color: var(--text-color-light);
  background-color: var(--Form-background-color-dark);
}

#storyFormWrapper form input::placeholder, #storyFormWrapper form textarea::placeholder {
  color: var(--text-color-light);
  font-family: 'Anton', sans-serif;
}

#dataContainer {
  display: flex;
  align-self: center;
  justify-content: space-around;
}

#storyFormWrapper form .storyForm_submit_btn  {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  margin-top: 60px;
  width: 25%;
  height: 45px;
  border-radius: 15px;
  color: var(--Form-button-color-light);
  background-color: var(--Form-button-background-light);

}

.storyForm_submit_btn:hover {
  padding-left: 10px;
  font-style: italic;
  
}

#storyFormWrapper form .storyForm_submit_btn.dark-mode {
  background-color: var(--Form-button-background-dark);
  color: var(--Form-button-color-dark);
}


.tags-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 5px;
  align-items: center; 
  flex-direction: row;
}

.tagText {
  color: var(--text-color-light);
  font-size: 20px;
}

.removeTagBtn {
  font-size: 15px;
  width: 20px;
  height: 20px;
  color: red;
  background-color: var(--background-color-light);
}

#storyForm_CharsCounter {
  color: var(--text-color-light);
}
  