.profile_settings_container {
    padding: 20px;
    background-color: #111215;
}

.profile_settings_description_container {
    border-top: 1px solid black;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

.profile_settings_description_container h1{
    color: white;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}


  