.content {
    padding: 20px;
    background-color: var(--Form-background-color-dark);
    width: 100%;
}

.profile_settings_description_container {
    padding: 20px 0px;
}

.profile_settings_description_container h1{
    color: var(--text-color-light); 
    font-size: 26px;
    font-weight: 300;
    
}

#userSettings_update_description_btn {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    background-color: #2d2e32;
    padding: 5px;
    border-radius: 10px;
    transition: all .2s ease;
    margin-bottom: 30px;
}

.userSettings_profile_h1_text {
    color: var(--text-color-light); 
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid var(--border-color-light);
    padding-bottom: 5px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 26px;
}

#userDescription {
    color: var(--text-color-light); 
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

#ProfileSettings_description {
    background-color: var(--Form-background-color-dark);
    border: 1px solid var(--Form-background-color-dark);
    border-bottom: 2px solid var(--border-color-light);
    color: var(--text-color-light); 
    width: 140%;
    margin-bottom: 10px;
}

.user-description-textarea {
    margin-top: 10px;
    width: 100%;
}

#ProfileSettings_description::placeholder {
    color: var(--text-color-light); 
    font-family: 'Anton', sans-serif;
}

.profile_h2_text_UserProfileSettings_title {
    font-family: 'Anton', sans-serif;
    color: var(--text-color-light);
    margin-top: 5px;
    cursor: pointer;
    overflow-wrap: break-word; 
    text-align: center;
}

.profile_h2_text_UserProfileSettings_title:hover {
    padding-left: 10px;
}

.profile_h2_text_UserProfileSettings_description {
    font-size: 20px;
    color: var(--text-color-light);
    font-weight: 500;
    overflow-wrap: break-word;
}

.profile_h2_text_UserProfileSettings_tags {
    font-size: 20px;
    color: var(--text-color-light);
    font-weight: 500;
    overflow-wrap: break-word;
}

  