.ChapterForm_mainDiv {
    background-color: var(--background-color-light); 
    color: var(--text-color-light); 
    width: 100%;
    min-height: 886px;
}

#chapterFormContainer {
    margin: auto;
    height: auto;
    width: 100%;
    min-height: 886px;
 }
 
 #chapterFormWrapper {
    background-color: var(--Form-background-color-dark);
     width: 100%;
     min-height: 886px;
     padding: 30px;
     box-shadow: 3px 3px rgba(0, 0, 0, 0.481);
 }
 
 #chapterFormWrapper form {
     margin: auto;
     width: 100%;
 }
 
 #chapterFormWrapper form label  {
     font-family: 'Anton', sans-serif;
     font-size: 30px;
 
 }
 
 
 #chapterFormWrapper form input,  #chapterFormWrapper form textarea{
    background-color: var(--Form-background-color-dark);
     border: 1px solid #111215;
     border-bottom: 2px solid var(--border-color-light);
     color: var(--text-color-light); 
     font-size: 26px;
 }
 
 #chapterFormWrapper form input::placeholder, #chapterFormWrapper form textarea::placeholder {
    color: var(--text-color-light); 
     font-family: 'Anton', sans-serif;
     font-size: 20px;
 }
 
 #dataContainer {
     display: flex;
     align-self: center;
     justify-content: space-around;
 }
 
 #chapterFormWrapper form .ChapterForm_submitBtn  {
     font-family: 'Anton', sans-serif;
     font-size: 20px;
     margin-top: 30px;
     width: 100%;
     height: 45px;
     border-radius: 15px;
     color: #27EE52;
     background-color: #050506;
 }
 
 #chapterFormWrapper form button:hover {
     background-color: #05050671;
 }

 