.ChapterPage_mainDiv {
    color: var(--text-color-light); 
    width: 100%;
}

.chapter-content {
    white-space: pre-wrap;
    margin-bottom: 20px;
  }

.chapterContainer, .chapter-edit-form {
    width: 90%;
    margin: auto;
    background-color: var(--background-color-light); 
    color: var(--text-color-light); 
    font-size: 30px;
    padding: 20px;
    font-weight: 500;
    margin-bottom: 100px;
    border-radius: 5px;
}

.chapterContainer a{
    font-size: 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgray;
    color: black;
}

.chapterContainer a:hover{
    padding-left: 10px;
    font-style: italic;
    background-color: lightgreen;
}

.chapter-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chapterTitle {
    color: var(--text-color-light); 
}


.edit-form-title {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--text-color-light); 

  }
  
  .edit-form-label {
    font-weight: bold;
  }
  
  .edit-form-input,
  .edit-form-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .edit-form-buttons {
    display: flex;
    justify-content: space-between;

  }
  
  .edit-form-save-button,
  .edit-form-cancel-button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  .edit-form-save-button {
    background-color: #007bff;
    color: var(--text-color-light); 
  }
  
  .edit-form-cancel-button {
    background-color: #ccc;
    color: #000;
  }
  

  