.FollowedUsers_mainDiv {
    background-color: var(--user-interface-background-color-light);
    color: var(--user-interface-text-color-light);
    height: 886px;
    padding: 30px 30px;
}

.FollowedUser_wrapper {
    background: transparent;
    width: 100%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FollowedUser_h1 {
    color: var(--user-interface-text-color-light);
    font-family: 'Imbue', serif;
}

.followedUsersContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-icon  {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.user-icon svg {
    margin-right: 10px;
}

.followedUsersContainer a {
    color: #038c3e;
    border: 1px solid black;
    margin: 10px;
    border-radius: 25px;
    font-family: 'Anton', sans-serif;
}

.followedUsersContainer a:hover {
    color: #F29F05;
    background-color: #2D3540;
    font-style: italic;
}
