
.UserStories_mainDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-light); 
    color: var(--text-color-light); 
    min-height: 886px;
}

#userStories_mainContainerClass {
    padding: 10px;
    border: 1px solid black;
    width: 99%;
    margin: auto;
    margin-top: 50px;
    

}

#storyContainer {
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    border: 1px solid black;
}

#storyLink {
    text-decoration: none;
}


#storyLink:hover {
    text-decoration: none;
}

#storyContainer #UserStories_title {
    font-family: 'Anton', sans-serif;
    color: var(--text-color-light);
    border-bottom: 1px solid black;
    cursor: pointer;
    overflow-wrap: break-word; 
}

#storyContainer h1:hover {
    font-style: italic;
}

#storyContainer p {
    font-size: 20px;
    color: var(--text-color-light);
    font-weight: 500;
    overflow-wrap: break-word;
}

  