.UserSettings_mainContainer {
  display: flex;
  height: 90.5vh; 
  width: 100%;
  margin: 0;
  overflow: hidden; 
}

.sidebar {
  background-color: #333;
  padding: 20px;
  color: #fff;
  width: 200px;
  min-width: 250px; 
}

.content {
  padding: 0px 0px 0px 0px;
  background-color: #111215;
  flex-grow: 1; 
  overflow-y: auto; 
}



#Settings_acountText, #Settings_profileText {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  padding: 0px 20px;
  border-radius: 15px;
  

}

#navbar_header_title {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 40px;

}

 #Settings_acountText a, #Settings_profileText a {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background-color: #735BA4;
  border-radius: 25px;
  padding: 5px 20px;
  transition: all .2s ease-in-out;
}

#Settings_acountText a:hover, #Settings_profileText a:hover {
  color: #FFDC40;
  font-style: italic;
}

.sidebar_icon {
  padding-right: 5px;
}


.btn-sidebar {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-sidebar:hover {
  background-color: #555;
}


.btn-sidebar.active {
  background-color: #007bff;
  font-weight: bold;
}
